# Database
DATABASE_URL="postgresql://assplus:assplus_dev@localhost:5432/assplus_db?schema=public"

# JWT
JWT_SECRET="change-me-in-production-use-a-long-random-string"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

# API
API_PORT=3001
API_URL="http://localhost:3001"

# Frontend
NEXT_PUBLIC_API_URL="http://localhost:3001"
NEXTAUTH_SECRET="change-me-in-production"
NEXTAUTH_URL="http://localhost:3000"

# Super Admin (console d'administration)
SUPER_ADMIN_EMAIL="admin@assplus.ma"
SUPER_ADMIN_PASSWORD="change-me-in-production"

# pgAdmin (dev only)
PGADMIN_EMAIL="admin@assplus.ma"
PGADMIN_PASSWORD="admin"
